---
---

* {
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding-bottom: 6em;
    font-family: 'Tajawal', serif;
    font-weight: 300;
    font-size: 22px;
}

h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: 65px;
    letter-spacing: 2px;
    line-height: 1em;
    padding: 200px 0 0px 0;
    text-align: center;
    margin: 0 0 36px 0;
    font-weight: normal;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 50px 0;
    line-height: 0.8em;
}

p {
    line-height: 1.5em;
}

hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;    
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;    
}

address {
    margin: 0;
    padding: 3em 0;
    display: block;
    overflow: hidden;
    font-style: normal;
    font-size: 18px;
    
    p {
        font-weight: bold;
    }

    img {
        width: 20%;
        margin-right: 8%;
        align-self: center;
        float: left;
    }

    ul {
        list-style-type: none;
        padding-left: 3em;
        margin: 0;

        li {
            margin: 0;
            padding: 0;
            line-height: 1.5em;
        }
    }
} 

