---
---

* {
    box-sizing: border-box;
    font-family: 'Tajawal', serif;
    font-weight: 300;
    font-size: 22px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding-bottom: 6em;
}

h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: 90px;
    letter-spacing: 2px;
    line-height: 1.5em;
    padding: 200px 0 0px 0;
    text-align: center;
    margin: 0 0 36px 0;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 34px;
    font-weight: 600;
    margin: 0 0 50px 0;
    line-height: 1.1em;
} 

p {
    line-height: 1.5em;
}

hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;    
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;    
}

address {
    margin: 0;
    padding: 3em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;

    img {
        width: 25%;
        align-self: center;
        flex: 0 0 auto;
    }

    ul {
        list-style-type: none;
        padding-left: 3em;
        margin: 0;

        li {
            margin: 0;
            padding: 0;
            line-height: 1.5em;
        }
    }
} 